<nav>
    <ul class="main-nav">
      {% for item in site.data.navigation.main %}
        <li class="nav-item{% if item.items %} has-dropdown{% endif %}">
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          
          {% if item.items %}
            <ul class="dropdown">
              {% for subitem in item.items %}
                <li><a href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
</nav>