.main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    }

.nav-item {
    position: relative;
}

.nav-item .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
}

.nav-item.has-dropdown:hover .dropdown {
    display: block;
}